<p id="notice"><%= notice %></p>

<p>
  <b>Claim:</b>
  <%= @comment.claim %>
</p>

<p>
  <b>Owner:</b>
  <%= @comment.owner %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
