<h1>Listing confirms</h1>

<table>
  <tr>
    <th>User</th>
    <th>Claim</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confirms.each do |confirm| %>
  <tr>
    <td><%= confirm.user %></td>
    <td><%= confirm.claim %></td>
    <td><%= link_to 'Show', confirm %></td>
    <td><%= link_to 'Edit', edit_confirm_path(confirm) %></td>
    <td><%= link_to 'Destroy', confirm, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Confirm', new_confirm_path %>
